<select id="sortListings" {{action 'sortListingChange' on='change'}}>
  <option value="date:desc">Date Descending</option>
  <option value="date">Date Ascending</option>
</select>

{{#each pageListings as |listing|}}
  {{listing-tile listing=listing}}
{{/each}}
