
  <body>
   <div class="container-fluid">
     <nav class="nav navbar-default navbar-fixed-top">
       <ul class="nav navbar-nav navbar-right">
         <li><i class="fa fa-facebook navbar-text " aria-hidden="true"></i>
         </li>
         <li><i class="fa fa-twitter navbar-text" aria-hidden="true"></i>
         </li>
         <li><i class="fa fa-pinterest-p navbar-text" aria-hidden="true"></i>
         </li>
         <li><i class="fa fa-instagram navbar-text" aria-hidden="true"></i>
         </li>
         <li><i class="fa fa-search navbar-text" aria-hidden="true"></i>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-left">
         <ul class="nav navbar-nav navbar-left">
           {{#link-to "index"}}
           <li class="navbar-text">home</li>
           {{/link-to}}
         </ul>
       </ul>
     </nav>
   </div>

    {{outlet}}
  </body>
